<%- include('common/forum_header') %>
<link rel="stylesheet" href=".././assets/css/threadlist.css">
</head>
<header>
</header>
<body onload="document.body.style.opacity='1'">
  <%- include('common/nav') %>
<section>
    <div class="container">

        <div class="threads_title" id="title">

        </div>



        <div id="thread_list">

        </div>
        <div class="right">
          <div class="category-description" id="category_description">
            Before you can begin to determine what the composition of a particular paragraph will be.
          </div>
          <center><a href="/createthread" class="create-thread-btn" id="create_thread_button" style="display: none;">	<i class="fas fa-plus"></i> Ask Question</a></center>
      </div>

</section>
<center>
  <div class="move container" id="move">
    Move <span id="thread_count">1</span> categories to category 
    <select id="category_picker">
    </select>
    and sub category 
    <select id="sub_category_picker">
    </select>
    <button id="category_change_submit_button" style="display: none;">Submit</button>
  </div>
  <div class="pagination">
      <a >&laquo;</a>
      <a >1</a>
      <a class="active">2</a>
      <a >3</a>
      <a >4</a>
      <a >5</a>
      <a >6</a>
      <a >&raquo;</a>
  </div>
</center>

<%- include('common/forum_js_includes') %>
<script type="text/javascript" src=".././assets/js/threadlist.js"></script>
<script type="text/template" id="thread_list_element">
    <div class="thread" id="{{threadId}}">
        <div class="thread-section-1">

            <div class="thread-title" onclick="goToThread('{{threadId}}')">
                {{title}}
            </div>
            <div class="thread-auther">
                Creator: <a href="/profile?username={{createdBy}}">{{createdBy}}</a> on: {{createdAt}}
            </div>
              <input type="checkbox" id="{{threadId}}c" class="checkbox">
            <div class="thread-vote-views-count pull-right">
                <p style="color:#c6c6c6; font-size:12px;"><i class="fas fa-thumbs-up" title="Upvotes"></i> {{upvotes}}  <i class="fas fa-eye" title="Views">  {{views}}</i></p>
            </div>
              <div class="thread-views">
                  <p style="color:#c6c6c6; font-size:12px;"></p>
              </div>
        </div>

        <div class="thread-section-2">
          <center>
          <div class="thread-reply-count">
              <p><i class="fas fa-reply" title="Replies"></i> {{replyCount}}</p>
          </div>
            <div class="thread-lastreply-datetime">
                <p>Last Reply at:</p> {{lastReplyAt}}
            </div>
          </center>
        </div>
    </div>
</script>
<script>
    let loggedIn = <%= loggedIn %>;
    if(loggedIn){
        $("#create_thread_button").show();
    }
</script>

<%- include('common/forum_footer') %>
